@import './colors.scss';
@font-face{
    font-family: "ModernHMedium";
    src: url("../font/ModernHMedium.woff") format("woff");
}

@media print,screen and (min-width:741px) and (max-width:20000px) {
}

body {
    font-size:15px;
    line-height:28px;
    font-family: "ModernHMedium";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: $grey;
}

a:hover {
    color: $navy;
}

/* 기본 초기화 처리 */
html,
body {
    width: 100%;
    height: 100%;
}

body,
button {
    padding: 0;
    margin: 0;
}

body,
div,
section,
dl,
ul,
ol,
li,
dt,
dd,
blockquote,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

/* header
-------------------------------- */
.menuwrapfull {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    min-width: 1240px;
    background: $back;
    transition: all .3s;
    min-height: 70px;
    border-color: $border;
}

.topmenu {
    line-height: 70px;
    color: $grey;
    text-decoration: none;
}

.menuwrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.menuwrapinner {
    width: 1120px;
    margin: 0 auto;
}

.topbar {
    position: relative;
    z-index: 10;
}

/* logo
-------------------------------- */
.logo {
    float: left;
    display: block;
    padding-top: 6px;
    margin-right: 60px;
}

/* menu
-------------------------------- */
.menu {
    float: left;
    display: block;
    margin-left: 40px;
    padding: 0 15px;
    color: $grey;
    text-decoration: none;
}

/* sub menu
-------------------------------- */
.menu .dropdown {
    position: relative;
    display: inline-block;
}

.menu .dropdown > button > span{
    display: block;    
}

.menu .dropdown > button:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background: $back;
    position: relative;
    color: $grey;
    font-size: 15px;
    border: none;
    font-family: inherit;
}

.dropbtn:hover {
    color: $navy;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $back;
    z-index: 1;
}

.menu.dropdown
.dropdown-content span {
    display: block;
}

.dropdown-content span:hover {
    background-color: $back;
    color: $navy;
}



/* icon area
-------------------------------- */
.rightArea {
    float: right;
}

.btnLanguage {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    background: url(../img/btn_topmenu_language.png) no-repeat;
    background-size: cover;
}

.btnChannel {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: url(../img/btn_topmenu_Channelh.webp) no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.btnSearch {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    background: url(../img/btn_topmenu_search.png) no-repeat;
    background-size: cover;
    text-indent: -9999px;
    
}
.item {
    float: left;
    padding-right: 20px;
}