@charset "UTF-8";
@font-face {
  font-family: "ModernHMedium";
  src: url("../font/ModernHMedium.woff") format("woff");
}

body {
  font-size: 15px;
  line-height: 28px;
  font-family: "ModernHMedium";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #666;
}

a:hover {
  color: #002c5f;
}

/* 기본 초기화 처리 */
html,
body {
  width: 100%;
  height: 100%;
}

body,
button {
  padding: 0;
  margin: 0;
}

body,
div,
section,
dl,
ul,
ol,
li,
dt,
dd,
blockquote,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

/* header
-------------------------------- */
.menuwrapfull {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  min-width: 1240px;
  background: #f6f3f2;
  transition: all .3s;
  min-height: 70px;
  border-color: #e4dcd3;
}

.topmenu {
  line-height: 70px;
  color: #666;
  text-decoration: none;
}

.menuwrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.menuwrapinner {
  width: 1120px;
  margin: 0 auto;
}

.topbar {
  position: relative;
  z-index: 10;
}

/* logo
-------------------------------- */
.logo {
  float: left;
  display: block;
  padding-top: 6px;
  margin-right: 60px;
}

/* menu
-------------------------------- */
.menu {
  float: left;
  display: block;
  margin-left: 40px;
  padding: 0 15px;
  color: #666;
  text-decoration: none;
}

/* sub menu
-------------------------------- */
.dropdown:after {
  display: block;
  content: '';
  clear: both;
}

.dropdown>span {
  position: relative;
  float: left;
}

.dropdown>span>a {
  display: block;
}

.dropdown>span:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.dropdown .dropdown-content a {
  display: block;
}

.dropbtn {
  background: #f6f3f2;
  position: relative;
  color: #666;
  font-size: 15px;
  border: none;
  font-family: inherit;
}

.dropbtn:hover {
  color: #002c5f;
}

.dropdown-content span:hover {
  background-color: #f6f3f2;
  color: #002c5f;
}

/* icon area
-------------------------------- */
.rightArea {
  float: right;
}

.btnLanguage {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background: url(../img/btn_topmenu_language.png) no-repeat;
  background-size: cover;
}

.btnChannel {
  display: inline-block;
  width: 20px;
  height: 17px;
  background: url(../img/btn_topmenu_Channelh.webp) no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.btnSearch {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background: url(../img/btn_topmenu_search.png) no-repeat;
  background-size: cover;
  text-indent: -9999px;
}

.item {
  float: left;
  padding-right: 20px;
}
